@CHARSET "UTF-8";


@media screen, projection 
{

 /**
  * Fonts
  *
  * (en) global settings of font-families and font-sizes
  * (de) Globale Einstellungen für Zeichensatz und Schriftgrößen
  *
  * @section content-global-settings
  */

  /* (en) reset font size for all elements to standard (16 Pixel) */
  /* (de) Alle Schriftgrößen auf Standardgröße (16 Pixel) zurücksetzen */
  html * { font-size: 100.01%; }

 /**
  * (en) reset monospaced elements to font size 16px in all browsers
  * (de) Schriftgröße von monospaced Elemente in allen Browsern auf 16 Pixel setzen
  *
  * @see: http://webkit.org/blog/67/strange-medium/
  */

  textarea, pre, code, kbd, samp, var, tt {
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
  }

  /* (en) base layout gets standard font size 12px */
  /* (de) Basis-Layout erhält Standardschriftgröße von 12 Pixeln */
  body {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 80.00%;
    color: #444;
  }

  /*--- Headings | Überschriften ------------------------------------------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family: Arial, "Times New Roman", Times, serif;
    font-weight:normal;
    color:#222;
    margin: 0 0 0.25em 0;
  }

  h1 { font-size: 250%; }                       /* 30px */
  h2 { font-size: 200%; }                       /* 24px */
  h3 { font-size: 150%; }                       /* 18px */
  h4 { font-size: 133.33%; }                    /* 16px */
  h5 { font-size: 116.67%; }                    /* 14px */
  h6 { font-size: 116.67%; }                    /* 14px */

  /* --- Lists | Listen  -------------------------------------------------------------------------------- */

  ul, ol, dl { line-height: 1.5em; }
  ul li { list-style-type: disc; }
  ul ul li { list-style-type: circle; }

  ol li { list-style-type: decimal; }
  ol ol li { list-style-type: lower-latin; }

  li { line-height: 1.5em; }

  dt { font-weight: bold; }
  dd { margin: 0 0 1em 0.8em; }

  /* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */

  p { line-height: 1.5em; margin: 0 0 1em 0; }

  blockquote, cite,q {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style:italic;
  }
  blockquote { margin: 0 0 1em 1.6em; color: #666; }

  strong,b { font-weight: bold; }
  em,i { font-style: italic; }

  pre, code, kbd, tt, samp, var { font-size: 100%; }
  pre, code { color: #800; }
  pre { line-height: 1.5em; margin: 0 0 1em 0; }
  kbd, samp, var { color: #666; }
  var { font-style: italic; }

  acronym, abbr {
    border-bottom: 1px #aaa dotted;
    font-variant: small-caps;
    letter-spacing: .07em;
    cursor: help;
  }

  sub, sup { font-size: 91.6667%; }

  hr {
    color: #fff;
    background:transparent;
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    border:0;
    border-bottom: 1px #eee solid;
  }

  /*--- Links ----------------------------------------------------------------------------------------- */

  a { color: #000; background:transparent; text-decoration:none; }
  a:visited  { color: #000; }

  a:focus,
  a:hover,
  a:active { color:#000; text-decoration:underline; }
  
  a.icon {
  	text-decoration: none !important;
	margin: auto;
	white-space: nowrap;
  }
  
  a.icon img {
	border: none;
	vertical-align: middle;	
  }
  
  a.icon span {
  	margin-left: 5px;
  	text-decoration: underline;
	vertical-align: middle;
  }

  /* --- images (with optional captions) | Bilder (mit optionaler Bildunterschrift) ------------------ */

  p.icaption_left { float:left; display:inline; margin: 0 1em 0.15em 0; }
  p.icaption_right { float:right; display:inline; margin: 0 0 0.15em 1em; }

  p.icaption_left img,
  p.icaption_right img { padding:0; border: 1px #888 solid; }

  p.icaption_left strong,
  p.icaption_right strong { display:block; overflow:hidden; margin-top: 2px; padding: 0.3em 0.5em; background: #eee; font-weight: normal; font-size: 91.667%; }

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Generic Content Classes
  *
  * (en) standard classes for positioning and highlighting
  * (de) Standardklassen zur Positionierung und Hervorhebung
  *
  * @section content-generic-classes
  */

  .highlight { color: #f60; }
  .dimmed { color: #888; }

  .info { background: #f8f8f8; color: #666; padding: 10px; margin-bottom: 0.5em; font-size: 91.7%; }

  .note { background: #efe; color: #040; border: 2px #484 solid; padding: 10px; margin-bottom: 1em; }
  .important { background: #ffe; color: #440; border: 2px #884 solid; padding: 10px; margin-bottom: 1em; }
  .warning { background: #fee; color: #400; border: 2px #844 solid; padding: 10px; margin-bottom: 1em; }

  .float_left { float: left; display:inline; margin-right: 1em; margin-bottom: 0.15em; }
  .float_right { float: right; display:inline; margin-left: 1em; margin-bottom: 0.15em; }
  .center { display:block; text-align:center; margin: 0.5em auto; }

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Tables | Tabellen
  *
  * (en) Generic classes for table-width and design definition
  * (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
  *
  * @section content-tables
  */

  table { width: auto; border-collapse:collapse; margin-bottom: 0.5em; }
  table caption { font-variant:small-caps; }
  table.full { width: 100%; }
  table.fixed { table-layout:fixed; }


 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Forms | Formulare
  *
  * (en) Generic classes for form design definition
  * (de) Generische Klassen für Gestaltungsvorschriften für Tabellen
  *
  * @section content-forms
  */

  div.formItems.non-floated div.item {
  	margin-bottom: 10px;
  } 
   
  div.formItems.non-floated div.item div.left, div.formItems.non-floated div.item div.right {
  	float: none;
	margin-bottom: 3px;
  }
  
  div.formItems div.item {
  	clear: both;
	float: none;
	padding: 3px;
  }
  
  div.formItems div.left {
  	width: 140px;
	float: left;
  }
  
  div.formItems div.item.short div.left {
  	width: 80px;
  }
  
  div.formItems div.right {
	float: left;
  }
  
  input[type="text"], input[type="password"] {
  	width: 95%;
  }
  
  input.text.tiny {
  	width: 25%;
  }
  
  div.buttons {
  	clear: both;
	float: none;
	text-align: center;
  }

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Miscellaneous | Sonstiges
  *
  * @section content-misc
  */

  div.ui-layout-west {
  	padding: 0px !important;
	overflow: hidden !important;	
  }
  
  div.ui-layout-north {
  	border: none !important;
  }
  
  div.sidebarHeader {
	height: 25px;
	cursor: pointer;
	font-size: 150%;
	padding: 5px;
  }
  
  div.sidebarContent {
  	padding: 5px 0px 0px 20px;
  }
  
  #login {
  	position: absolute; 
	left: 50%; 
	top: 50%; 
	margin: -250px auto auto -150px; 
	width: 300px; 
	height: 300px; 
	padding: 10px;
  }
  
  #languageSelect {
  	position: absolute;
	top: -2px;
	right: 0px;
	width: 172px;
  }
  
  #languageSelect ul.select li a {
  	display: block;
  	line-height: 30px;
  	height: 30px;
	padding: 5px 20px;
  }
  
  div.errorSummary ul, div.errorSummary ul li {
  	list-style-type: none;
	margin: 0px;
  }
  
  div.errorMessage {
  	background: url(../images/icons/del_10.png) no-repeat 5px 5px;
	padding: 3px 0px 0px 20px;
	color: #CCC;
	font-weight: bold;
  }
  
  #login div.errorSummary {
  	font-size: 90%;
  }
  
  ul.select, ul.select li {
  	list-style-type: none;
  }

  .nowrap {
  	white-space: nowrap;
  }

 /**
  * (en) Emphasizing external Hyperlinks via CSS
  * (de) Hervorhebung externer Hyperlinks mit CSS
  *
  * @section             content-external-links
  * @app-yaml-default    disabled
  */

  /*
  #main a[href^="http://www.my-domain.com"],
  #main a[href^="https://www.my-domain.com"]
  {
    padding-left: 12px;
    background-image: url('your_image.gif');
    background-repeat: no-repeat;
    background-position: 0 0.45em;
  }
  */	
	
	
}
