/* Header START */

#header
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

#headerLeft
{
	float: left;
	position: relative;
}

#headerRight
{
	float: right;
	position: relative;
	text-align: right;
}

/* Header END */


@media screen, projection
{

 /**
  * Fonts
  *
  * (en) global settings of font-families and font-sizes
  * (de) Globale Einstellungen für Zeichensatz und Schriftgrößen
  *
  * @section content-global-settings
  */

  /* (en) reset font size for all elements to standard (16 Pixel) */
  /* (de) Alle Schriftgrößen auf Standardgröße (16 Pixel) zurücksetzen */
  html * { font-size: 100.01%; }

 /**
  * (en) reset monospaced elements to font size 16px in all browsers
  * (de) Schriftgröße von monospaced Elemente in allen Browsern auf 16 Pixel setzen
  *
  * @see: http://webkit.org/blog/67/strange-medium/
  */

  textarea, pre, code, kbd, samp, var, tt {
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
  }

  /* (en) base layout gets standard font size 12px */
  /* (de) Basis-Layout erhält Standardschriftgröße von 12 Pixeln */
  body {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 80.00%;
    color: #444;
  }

  /*--- Headings | Überschriften ------------------------------------------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    margin: 0 0 0.25em 0;
  }

  h1 { font-size: 250%; }                       /* 30px */
  h2 { font-size: 200%; }                       /* 24px */
  h3 { font-size: 150%; }                       /* 18px */
  h4 { font-size: 133.33%; }                    /* 16px */
  h5 { font-size: 116.67%; }                    /* 14px */
  h6 { font-size: 116.67%; }                    /* 14px */

  /* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */

  p { line-height: 1.5em; margin: 0 0 1em 0; }

  strong,b { font-weight: bold; }
  em,i { font-style: italic; }

  code, kbd, tt, samp, var { font-size: 100%; }

  pre { line-height: 1.5em; font-size: 90%; }
  kbd, samp, var { color: #666; }
  var { font-style: italic; }

  acronym, abbr {
    border-bottom: 1px #aaa dotted;
    font-variant: small-caps;
    letter-spacing: .07em;
    cursor: help;
  }

  sub, sup { font-size: 91.6667%; }

  hr {
    color: #fff;
    background:transparent;
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    border:0;
    border-bottom: 1px #eee solid;
  }
  
  div.clear {
  	clear: both;
  }
  
  ul.nowrap li {
  	white-space: nowrap;
  }

  /*--- Links ----------------------------------------------------------------------------------------- */

  a { color: #000; background:transparent; text-decoration:none; }
  a:visited  { color: #000; }

  a:focus,
  a:hover,
  a:active { color:#000; text-decoration:underline; }
 

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Tables | Tabellen
  *
  * (en) Generic classes for table-width and design definition
  * (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
  *
  * @section content-tables
  */

  table { width: auto; border-collapse:collapse; margin-bottom: 0em; }
  table caption { font-variant:small-caps; }
  table.full { width: 100%; }
  table.fixed { table-layout:fixed; }
  
  table.list td.center {
  	text-align: center;
  }
  
  table.list td.right {
  	text-align: right;
  }

  table.list > thead > tr:first-child th {
  	font-weight: bold;
  }
  
  input.text, input.password {
  	width: 98%;
	padding: 2px;
  }
  
  input[type="text"], input[type="password"] {
  	max-width: 99%;
  }
  
  textarea {
  	width: 99%;
	min-height: 50px;
	border: 1px solid;
  }
  
  input.text.tiny {
  	width: 25%;
  }
  
  div.buttons {
  	clear: both;
	float: none;
	text-align: center;
	margin: 10px 0px;
  }

  /*
   * Layout
   */

  div.ui-layout-west {
  	padding: 0px !important;
	overflow: hidden !important;
	text-align: left;
	margin-top: 30px;
	padding-top: 10px;	
  }
  
  div.ui-layout-north {
  	border: none !important;
	overflow: hidden !important;
  }
  
  div.ui-layout-center { 
  	text-align: left; 
	margin-top: 30px; 
	padding-top: 10px;
  }
  
  /*
   * Loading - indicator
   */
  
  #loading {
  	position: absolute; 
	top: 45px; 
	z-index: 9999999 !important; 
	right: 20px;
	line-height: 20px;
	font-weight: bold; 
	color: #FFFFFF;
	padding: 0px 4px;
	background: url(../images/loading4.gif) no-repeat;
	width: 112px;
	height: 20px;
  }

  .nowrap {
  	white-space: nowrap;
  }
  

  /*
   * Icons
   */
  a.icon span {
  	position: relative;
  }
  
  ul.list li a.icon span {
  	text-decoration: none;
  } 
  
  ul.list li a.icon:hover span {
  	text-decoration: underline;
  }

  div.buttonContainer {
  	clear: both;
	overflow: hidden;
	padding: 10px 0px;
  }
  
  div.buttonContainer div.left {
  	float: left;
  }
  
  div.buttonContainer div.right  {
  	float: right;
  }
  
  img.icon16
  {
	height: 16px;
  	width: 16px;
  }
  
  /*
   * Global search (autosuggest)
   */
  div.ac_results {
  	z-index: 99999999;
  	background: #EFEFEF;
  	border: 1px solid #777;
  }
  
  li.ac_over
  {
  	background: #CCC;
  }
  
  div.ac_results ul li 
  {
  	padding: 2px;
  }
  
  div.ac_results ul span.table 
  {
  	padding-left: 15px;
  }
  

  
  #globalSearch
  {
  	color: #aaa;
  	margin-right: 5px;
  	text-indent: 18px;
  }
  
}
