@media screen, projection 
{

 /**
  * Fonts
  *
  * (en) global settings of font-families and font-sizes
  * (de) Globale Einstellungen für Zeichensatz und Schriftgrößen
  *
  * @section content-global-settings
  */

  /* (en) reset font size for all elements to standard (16 Pixel) */
  /* (de) Alle Schriftgrößen auf Standardgröße (16 Pixel) zurücksetzen */
  html * { font-size: 100.01%; }

 /**
  * (en) reset monospaced elements to font size 16px in all browsers
  * (de) Schriftgröße von monospaced Elemente in allen Browsern auf 16 Pixel setzen
  *
  * @see: http://webkit.org/blog/67/strange-medium/
  */

  textarea, pre, code, kbd, samp, var, tt {
    font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
  }

  /* (en) base layout gets standard font size 12px */
  /* (de) Basis-Layout erhält Standardschriftgröße von 12 Pixeln */
  body {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 80.00%;
    color: #444;
  }

  /*--- Headings | Überschriften ------------------------------------------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    margin: 0 0 0.25em 0;
  }

  h1 { font-size: 250%; }                       /* 30px */
  h2 { font-size: 200%; }                       /* 24px */
  h3 { font-size: 150%; }                       /* 18px */
  h4 { font-size: 133.33%; }                    /* 16px */
  h5 { font-size: 116.67%; }                    /* 14px */
  h6 { font-size: 116.67%; }                    /* 14px */

  /* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */

  p { line-height: 1.5em; margin: 0 0 1em 0; }

  strong,b { font-weight: bold; }
  em,i { font-style: italic; }

  code, kbd, tt, samp, var { font-size: 100%; }

  pre { line-height: 1.5em; font-size: 90%; }
  kbd, samp, var { color: #666; }
  var { font-style: italic; }

  acronym, abbr {
    border-bottom: 1px #aaa dotted;
    font-variant: small-caps;
    letter-spacing: .07em;
    cursor: help;
  }

  sub, sup { font-size: 91.6667%; }

  hr {
    color: #fff;
    background:transparent;
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    border:0;
    border-bottom: 1px #eee solid;
  }
  
  div.clear {
  	clear: both;
  }
  
  ul.nowrap li {
  	white-space: nowrap;
  }

  /*--- Links ----------------------------------------------------------------------------------------- */

  a { color: #000; background:transparent; text-decoration:none; }
  a:visited  { color: #000; }

  a:focus,
  a:hover,
  a:active { color:#000; text-decoration:underline; }
 

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Tables | Tabellen
  *
  * (en) Generic classes for table-width and design definition
  * (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
  *
  * @section content-tables
  */

  table { width: auto; border-collapse:collapse; margin-bottom: 0em; }
  table caption { font-variant:small-caps; }
  table.full { width: 100%; }
  table.fixed { table-layout:fixed; }
  
  table.list td.center {
  	text-align: center;
  }
  
  table.list td.right {
  	text-align: right;
  }

  table.list > thead > tr:first-child th {
  	font-weight: bold;
  }

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Forms | Formulare
  *
  * (en) Generic classes for form design definition
  * (de) Generische Klassen für Gestaltungsvorschriften für Tabellen
  *
  * @section content-forms
  */

  div.formItems.non-floated div.item {
  	margin-bottom: 10px;
  } 
   
  div.formItems.non-floated div.item div.left, div.formItems.non-floated div.item div.right {
  	float: none;
	margin-bottom: 3px;
  }
  
  div.formItems div.item {
  	clear: both;
	float: none;
	padding: 3px;
  }
  
  div.formItems div.left {
  	width: 140px;
	float: left;
  }
  
  div.formItems div.item.short div.left {
  	width: 80px;
  }
  
  div.formItems div.right {
	float: left;
  }
  
  input.text, input.password {
  	width: 98%;
	padding: 2px;
  }
  
  input[type="text"], input[type="password"] {
  	max-width: 99%;
  }
  
  textarea {
  	width: 99%;
	min-height: 50px;
	border: 1px solid;
  }
  
  input.text.tiny {
  	width: 25%;
  }
  
  div.buttons {
  	clear: both;
	float: none;
	text-align: center;
	margin: 10px 0px;
  }

  /*
   * Layout
   */

  div.ui-layout-west {
  	padding: 0px !important;
	overflow: hidden !important;
	text-align: left;
	margin-top: 30px;
	padding-top: 10px;	
  }
  
  div.ui-layout-north {
  	border: none !important;
	overflow: hidden !important;
  }
  
  div.ui-layout-center { 
  	text-align: left; 
	margin-top: 30px; 
	padding-top: 10px;
  }
  
  /*
   * Header
   */
  
  #header ul, #header ul li {
  	list-style-type: none;
	text-align: center;
  }
  
  /*
   * Sidebar (accordion)
   */
  
  div.sidebarContent {
  	padding: 3px;
  }
  
  /*
   * Loading - indicator
   */
  
  #loading {
  	position: absolute; 
	top: 45px; 
	z-index: 9999999 !important; 
	right: 20px;
	line-height: 20px;
	font-weight: bold; 
	color: #FFFFFF;
	padding: 0px 4px;
	background: url(../images/loading4.gif) no-repeat;
	width: 112px;
	height: 20px;
  }
  
  /*
   * Login form
   */
  
  #login {
	margin: 7em auto; 
	width: 320px;
  }
  
  #loginform {
	padding: 10px;
  }
  
  /*
   * Language select
   */
  
  #languageSelect {
  	position: absolute;
	top: 40px;
	right: 0px;
	width: 172px;
  }
  
  #themeSelect {
  	position: absolute;
	top: 40px;
	right: 172px;
	width: 172px;
  }
  
  ul.dropDown li a {
  	display: block;
  	line-height: 20px;
  	height: 20px;
	padding: 5px 20px;
  }
  
  div.errorSummary ul, div.errorSummary ul li {
  	list-style-type: none;
	margin: 0px;
  }
  
  div.errorMessage {
  	background: url(../images/icons/del_10.png) no-repeat 5px 5px;
	padding: 3px 0px 0px 20px;
	color: #CCC;
	font-weight: bold;
  }
  
  div.errorSummary {
  	padding: 10px;
  	border: 1px solid #FF0000;
  	background: #FFFFFF;
  	-moz-border-radius: 5px;
  	margin-bottom: 10px;
  }
  
  ul.select, ul.select li {
  	list-style-type: none;
  }

  .nowrap {
  	white-space: nowrap;
  }
  
  /*
   * List 
   */
  
  ul.list {
  	margin: 0.5em 0 0 0.3em;
  }
  
  ul.list li {
  	list-style-type: none;
  	height: 20px;
  	padding: 2px 0px;
  	position: relative;
  }
  
  ul.list li a img {
  	position: relative;
	top: 2px;
  }
  
  div.listIconContainer {
  	float: right;
  	position: relative;
  	z-index: 10;
  	display: none;
  }
  
  ul.list li:hover div.listIconContainer {
  	display: block;
  }

  /*
   * Tab menu
   */

  ul.tabMenu {
	position: relative;
  }
  
  ul.tabMenu li {
  	list-style-type: none;
	float: left;
	font-size: 120%;
  }
  
  ul.tabMenu li a {
  	display: block;
	text-align: center;
  }
  
  /*
   * CodePress
   */
  
  iframe.codepress {
  	margin-bottom: 10px;
  }
  
  /*
   * Breadcrumb
   */
  
  ul.breadCrumb {
  	margin: 5px;
  }
  
  ul.breadCrumb li {
  	float: left;
	margin: 0px 5px 0px 0px;
	padding: 3px 5px;
	height: 24px;
	line-height: 20px;
	-moz-border-radius: 4px;
  }
  
  ul.breadCrumb li a img 
  {
  	top: 4px !important;
  }
  
  ul.breadCrum li img 
  {
  	cursor: pointer;
  }
  
  ul.breadCrumb li span 
  {
  	top: -2px !important;
  }
  
  
  /*
   * Purr (notifications)
   */
  
  #purr-container {
  	position: fixed;
	bottom: 10px;
	right: 0px;
	z-index: 99999999 !important;
  }
  
  .notification {
  	position: relative;
	width: 500px;
  }
  
  .notification-body {
  	min-height: 50px;
	padding: 22px 22px 0px 22px;
	background: url(../themes/standard/images/notification/top.png);
	color: #F9F9F9;
  }
  
  .notification-body textarea {
  	background-color: transparent;
	color: #f9f9f9;
	height: 150px;
	font-size: 0.8em;
	margin-top: 5px;
  }
  
  .notification-body a {
  	color: #f9f9f9;
  	text-decoration: underline;
  }
  
  .notification-header {
  	font-weight: bold;
	margin-bottom: 5px;
  }
  
  .notification-bottom {
  	background: url(../themes/standard/images/notification/bottom.png);
	height: 17px;
  }
  
  .notification .close {
    position: absolute;
    top: 18px; 
    right: 18px; 
    width: 16px; 
    height: 16px; 
    background: url(../images/icons/fugue/16/delete.png) no-repeat 0 0px;
  }
  
  .notification .sticky {
    position: absolute;
    top: 18px; 
    right: 38px; 
    width: 16px; 
    height: 16px; 
    background: url(../images/icons/fugue/16/pin_up.png) no-repeat 0 0px;
  }
  
  .notification .code {
    position: absolute;
    top: 18px; 
    right: 58px; 
    width: 16px; 
    height: 16px; 
    background: url(../images/icons/fugue/16/sql.png) no-repeat 0 0px;
  }
  
  .notification.not-sticky .sticky
  {
  	 background: url(../images/icons/fugue/16/pin.png) no-repeat 0 0px !important;
  }
    
  /*
   * Pagination
   */	
  ul.yiiPager .first, ul.yiiPager .last 
  {
  	display: inline !important;
  }
  
  /*
   * Icons
   */
  a.icon span {
  	position: relative;
  }
  
  ul.list li a.icon span {
  	text-decoration: none;
  } 
  
  ul.list li a.icon:hover span {
  	text-decoration: underline;
  }

  div.buttonContainer {
  	clear: both;
	overflow: hidden;
	padding: 10px 0px;
  }
  
  div.buttonContainer div.left {
  	float: left;
  }
  
  div.buttonContainer div.right  {
  	float: right;
  }
  
  img.icon16
  {
	height: 16px;
  	width: 16px;
  }
  
  /*
   * Form elements
   */
  select {
  	min-width: 120px;
  }
  
  /*
   * Global search (autosuggest)
   */
  div.ac_results {
  	z-index: 99999999;
  	background: #EFEFEF;
  	border: 1px solid #777;
  }
  
  li.ac_over
  {
  	background: #CCC;
  }
  
  div.ac_results ul li 
  {
  	padding: 2px;
  }
  
  div.ac_results ul span.table 
  {
  	padding-left: 15px;
  }
  
  #headerRight
  {
  	text-align: right;
  	width: 370px;
  }
  
  table.list > thead > tr > th > a
  {
  	padding-right: 10px;
  }
  
  table.list > thead > tr > th > a.asc
  {
  	background: transparent url('../images/icons/fugue/control_small_270.png') 100% 50% no-repeat;
  }
  
  table.list > thead > tr > th > a.desc
  {
  	background: transparent url('../images/icons/fugue/control_small_090.png') 100% 50% no-repeat;
  }  
  
  #globalSearch
  {
  	color: #aaa;
  	margin-right: 5px;
  	text-indent: 18px;
  }
  
}
