@charset "UTF-8";

/* import core styles | Basis-Stylesheets einbinden */
@import url(yaml/core/base.css);

/* import screen layout | Screen-Layout einbinden */
@import url(yaml/navigation/nav_shinybuttons.css);

@import url(yaml/screen/basemod.css);
@import url(yaml/screen/content.css);

/* import print layout | Druck-Layout einbinden */
@import url(yaml/print/print_003_draft.css);
