@CHARSET "UTF-8";

  /*
   * Tab menu
   */

  ul.tabMenu li {
	font-size: 120%;
	margin-right: 10px;
	background: #DFDFDF url('../images/tab-bg.png') repeat-x top left;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: solid 1px #C0C0C0;
	border-top: none;
  }
  
  ul.tabMenu li>a {
	padding: 3px 10px 5px 10px;
  }
  
  ul.tabMenu li.active,
  ul.tabMenu li:hover {
  	background-color: #d4e73f;
  	background-position: bottom left;
  }