@CHARSET "UTF-8";

@media screen, projection
{

	/*
	 * Search field
	 */	
	input.search {
		background: url(../../../images/icons/fugue/16/search.png) 2px 3px no-repeat;
		padding-left: 22px;
	}
	
	/*
	 * Table
	 */
	
	table.form>colgroup>col.col1,
	table.form>colgroup>col.col2 {
		width: 100px;
	}
	
	table.form>colgroup>col.col3 {
		width: 150px;
	}
	
	table.form>tbody>tr {
		height: 25px;
	}
	
}