@CHARSET "UTF-8";

@media screen, projection
{
  
	input[type=text], 
	input[type=password],
	input[type=submit],
	input[type=reset],
	input[type=button], 
	textarea {
		background-color: #F7F7F7;
		border: solid 1px #CCC;
		color: #333;
		padding: 4px;
	}
	
	input[type="submit"] {
		font-weight: bold;
	}
	
	input.icon {
		background-repeat: no-repeat;
		background-position: 3px center;
		padding-left: 20px;
	}
	
	input.icon.save {
		background-image: url('../../../images/icons/fugue/16/save.png');
	}
	
	input.icon.delete {
		background-image: url('../../../images/icons/fugue/16/delete.png');
	}
	
	input.icon.cancel {
		background-image: url('../../../images/icons/fugue/16/delete.png');
	}
	
	input.icon.null {
		background-image: url('../../../images/icons/fugue/16/null.png');
	}
	
	input.icon.execute {
		background-image: url('../../../images/icons/fugue/16/execute.png');
	}

	
	/*
	 * Buttons
	 */
	.button {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border: 1px solid #BBB;
		padding: 5px 10px;
		background: url('../images/forms/button-bg.png') repeat-x;
		cursor: pointer;
	}
	
	a.button span {
		text-decoration: none !important;
	} 
	
	.button:hover {
		border: 1px solid #999;
	}
	 
	/*
	 * Search field
	 */	
	input.search {
		background: url(../../../images/icons/fugue/16/search.png) 2px 3px no-repeat !important;
		padding-left: 22px !important;
	}
	
	/*
	 * Table
	 */
	
	table.form>colgroup>col.col1,
	table.form>colgroup>col.col2 {
		width: 100px;
	}
	
	table.form>colgroup>col.col3 {
		width: 150px;
	}
	
	table.form>tbody>tr>td {
		padding: 5px 0px;
	}
	
}