@CHARSET "UTF-8";

@media screen, projection
{
  
  img.icon.disabled {
  	opacity: 0.2;
  }
  
  a.icon {
  	text-decoration: none !important;
	margin: auto;
	white-space: nowrap;
  }
  
  a.icon span {
  	text-decoration: underline;
  }
  
  div.ui-layout-center span.icon img.icon,
  div.ui-layout-center a.icon img.icon,
  #purr-container a.icon img.icon,
  #purr-container span.icon img.icon 
  {
  	border: none;
	position: relative;
	top: 3px;
	margin-right: 2px;
  }
  
  img.icon_arrow_move {
  	cursor: move;
  }
  
}