@CHARSET "UTF-8";

@media screen, projection
{
	
	/*
	 * Pager
	 */
	
	div.list div.pager.top {
		margin-bottom: 10px;
	}
	
	div.list div.pager.bottom {
		margin-top: 10px;
	}
	
	
	/*
	 * Table
	 */
	
	table.list {
		border: none;
		border-spacing: 0px;
		margin: 0px;
		width: 100%;
	}
	
	table.list td, table.list th {
		border: solid 1px #FFFFFF;
		padding: 3px 5px;
	}
	
	table.list td.nodecoration, table.list th.nodecoration {
		background: none;
	}
	
	table.list td.count {
		text-align: right;
	}
	
	
	/*
	 * ColGroup
	 */
	
	table.list col.action,
	table.list col.checkbox {
		width: 16px;
	}
	
	table.list col.type {
		width: 160px;
	}
	
	table.list col.collation {
		width: 130px;
	}
	
	table.list col.null {
		width: 50px;
	}
	
	table.list col.filesize {
		width: 80px;
	}
	
	table.list col.engine {
		width: 100px;
	}
	
	table.list col.operator {
		width: 120px;
	}
	
	/*
	 * THead
	 */
	
	table.list thead {
		background: #2D83D0 url(../../../images/header-bg.png) repeat-x scroll left center;
	}
	
	table.list thead, table.list thead a {
		color: #FFFFFF;
		font-weight: bold !important;
	}
	
	
	/*
	 * TBody
	 */

	table.list tbody tr {
		background-color: #F0F0F0;
	}
	
	table.list tbody tr.odd {
		background-color: #E0E0E0;
	}
	
	table.list tbody tr.selected {
		background-color: #E3EE93;		
	}
	
	table.list tbody tr:hover {
		background-color: #D3E73B;
	}
	
	
	/*
	 * TFoot
	 */
	
	table.list tfoot th {
		background: #2D83D0 url(../../../images/header-bg.png) repeat-x scroll left center;
		color: #FFFFFF;
		font-weight: bold;
	}
	
	/*
	 * Form
	 */
	
	table.list tr.form td {
		padding: 0px;
	}
	
	table.list form {
		border: solid 4px #D3E73B;
		background: #e8edc2;
		padding: 5px;
	}
	
	table.list form h1 {
		font-size: 110%;
		font-weight: bold;
	}
	
	/*
	 * With selected
	 */
	
	div.list div.withSelected {
		margin: 3px 0px 0px 6px;
	}
	
	div.list div.withSelected img.icon_arrow_turn_090 {
		top: 0px !important;
	}
	
	div.list div.withSelected a {
		margin: 0px 5px;
	}
	
	/*
	 * Right links
	 */
	
	div.list div.rightLinks {
		float: right;
	}

}