@CHARSET "UTF-8";

@import "style_component.css";
@import "style_icon.css";
@import "style_list.css";

@media screen, projection
{

  html { margin: 0px; }

  /*
   * Body
   */
  body { background: #e0e0e0; }


  /*
   * Header
   */

  #header {
    color: #000;
    background: #fff url(../images/header-bg.png) repeat-x top left;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: 0px; left: 0px;
	width: 100%;
  }
  
  #headerLeft {
  	float: left;
	margin: 0px 0px 0px 5px;
  }
  
  #headerLeft, #headerLeft a span {
  	color: #FFF;
	text-decoration: none !important;
  }
  
  #headerRight {
  	float: right;
	margin-right: 1px;
  }

  #headerRight ul, #headerRight ul li {
  	list-style-type: none;
  }
  
  #headerRight ul li {
  	float: left;
	margin: 0px;
	border-left: 1px solid #333;
  }
  
  #headerRight ul li a {
  	display: block;
  	width: 90px;
	height: 40px;
	line-height: 40px;
	border-left: 1px solid #BBB;
	padding: 0px 10px;
	color: white;
  }
  
  #headerRight ul li a:hover {
  	background: url(../images/header-hover-bg.png);
  }


  /*------------------------------------------------------------------------------------------------------*/

  /**
   * (en) Styling of layout specific elements
   * (de) Gestaltung layoutabhängiger Elemente
   */

  #header h1 {
    font-weight:bold;
    font-size:2.5em;
    letter-spacing:-2px;
    line-height:65%;
    color:#000;
  }

  #topnav a { color: #999; font-weight: normal; background:transparent; text-decoration:none; }
  #topnav a:focus,
  #topnav a:hover,
  #topnav a:active { text-decoration:underline; background-color: transparent; }

  #footer a { color: #999; background:transparent; font-weight: bold; }
  #footer a:focus,
  #footer a:hover,
  #footer a:active {color: #4D87C7; background-color: transparent; text-decoration:underline; }
  
  /*------------------------------------------------------------------------------------------------------*/

  /**
   * (en) Styling of content elements
   * (de) Gestaltung Inhaltselemente
   */
  
  /* TreeView */
  ul.treeview, ul.treeview li {list-style-type: none;}
  ul.treeview li a {position: relative; top: -2px;}
  
  div.sidebarHeader {
  	background: url(../images/sidenav-bg.png) repeat-x;
  }
  
  #login {
  	background: #3a68a0 url(../images/login-bg.png) repeat-x;
	border: 10px solid #FFF;
	-moz-border-radius: 20px;
  }
  
  input {
  	background: #EEE;
  	border: solid 1px #CCC;
	color: #333;
	padding: 2px;
  }
  
  input[type="submit"] {
    font-weight: bold;
  }

  input.icon {
    background-repeat: no-repeat;
    background-position: 3px center;
    padding-left: 20px;
  }
  
  input.icon.save {
    background-image: url('../../../images/icons/pma/16/save.png');
  }
  
  input.icon.delete {
    background-image: url('../../../images/icons/pma/16/delete.png');
  }
  
  select {
  	border: solid 1px #CCC;
	padding-top: 2px;
  }
  
  #login div.formItems.non-floated div.left {
  	font-weight: bold;
	color: #CCC;
  }
  

  #languageSelect ul li a {
  	background: url(../images/header-bg.png) repeat-x;
  }

  #languageSelect ul li a:hover {
  	background: url(../images/header-hover-bg.png) repeat-x;
  }
  
  dfn {
  	cursor: help;
  }
  
  div.errorSummary {
  	color: #D00;
  }
  
  span.sql, div.sql, p.sql {
  	font-family: monospace,fixed;
  }
  
  div.errorSummary span.sql {
  	font-size: 80%;
  }
   
}
