@CHARSET "UTF-8";

  /*
   * Tab menu
   */

  ul.tabMenu li {
	background: url(../images/tab-bg.png) right top;
	height: 30px;
	font-size: 120%;
	margin-right: 10px;
	padding-right: 9px;
  }
  
  ul.tabMenu li a {
	padding: 2px 6px 8px 15px;
	height: 20px;
	background: url(../images/tab-bg.png) left top;
  }
  
  ul.tabMenu li:hover, ul.tabMenu li.active {
  	background: url(../images/tab-bg.png) right 30px;
  }
  
  ul.tabMenu li:hover a, ul.tabMenu li.active a {
  	background: url(../images/tab-bg.png) 0px 30px;
  }